
form {
	margin-bottom: 10px;
}
h1 {
	margin-bottom: 20px;
}

ul.messages {
	
}

ul.messages li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #dddddd;
}

pre.content {
	font-size: smaller;
}